.body
{
    
    background-color: green;
}

#cuadro1{
width:500px;
padding:0px;
border: 0px;


    margin-top: 100px;
    margin-bottom: 50px;
 
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    position: absolute;
}
.arribaizquierda{
background: transparent url(/images/border1.png)scroll no-repeat top left;
height: 100px;
padding: 0;
display: block;
}
.arribaderecha{
background: transparent url(/images/border2.png) scroll no-repeat top right;
height: 20px;
padding: 0;
display: block;
}
.abajoizquierda{
background: transparent url(/images/border3.png) scroll no-repeat bottom left;
height: 20px;
padding: 0;
display: block;
}
.abajoderecha{
background: transparent url(/images/border4.png) scroll no-repeat bottom right;
height: 20px;
padding: 0;
display: block;
}

.medio{
display: block;

margin:0px;
height: 138px;
}