@charset "utf-8";
*{
	font-family:Verdana, Helvetica;
	font-size:10px;
	padding:0;
	margin:0;
        /* text-transform:uppercase;*/
}

#inicio
{
margin : 100px 200px 100px 200px;
color: gray;
border: 2px  #cccccc;
border-style : solid;

}
#

a{
	text-decoration:none;
}
img{
	border:none;
}

#contenedor
{
	
        border:2px solid #C0C0C0;
        background-color: white;
        width: 1000;
}
small{
	font-size:9px;
}
#table{
	 width:1000px;
	margin:auto;
}
td{
	border-bottom:0px solid #776F6B;
	padding:5px 0px 5px;
}

th{
	background-color:#C0C0C0;
	padding:5px 0px 5px;
        width: auto
        
}

form p{
	margin:auto;
	width:300px;
	margin-top:5px;
	margin-bottom:3px;
}
form input{
	border:1px solid #CCCCCC;
	padding:3px;
}

form .text{
	width:200px;
}
h1
{
        font-family:Verdana,Helvetica;
        font-weight:bold;
        font-size: 25px;
        background: #F8F8FF;
        color:gray;

}
 .boton
 {
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        border:0px;
        width:80px;
        height:19px;

 }

 title
 {
       font-size: 25px;
}

.progress-bar {
     border: 1px solid #56577A;
     width: 200px;
     margin: 5px;
     padding: 1px;
     background: #fff;
	 float: left;
   }

   .bar {
     height: 15px;
	 font-size: 11px;
	 text-indent:-9000px;
   }

   #percentage{
    float: left;
	margin-left: 10px;
	margin-top:4px;
   }

   .sub_mensaje
   {
            font-weight:bold;
            font-family:Verdana, Helvetica;
            font-size: 14px;

}

.recuadro_consul
{
background:	#FFFFF0;
font-size:10px;
font-family:Verdana,Helvetica;
color:black;
border:0px;
width: 200px;
}

.mayuscula
{
    text-transform:uppercase;
}

.urgente
{
  background-image:  url('admiracion.jpg');
background-repeat: no-repeat;
height: 30px;

}

.normal
{
color:black;

}

.deshabilitado
{
    /*font-weight:bold;*/
color:#900000;
}
.aviso
{
    /*font-weight:bold;*/
color:darkorange;
 font-weight:bold;
}

/*.alert
{
background: #e6c0c0;
border-bottom-color: #de7a7b;
border-top-color: #de7a7b;
width: 1000px;
border-width: 3px;

}*/

.error_user
{
    color: #D8000C;

background-color: #FFBABA;
width: auto;
border-width: 10px;
border: 1px solid;
background-repeat: no-repeat;
background-position: center;
}
.bien
{
background: #99CC33;
border-bottom-color: #008000;
border-top-color:  #008000;
border-width: 3px;
width: 1000px;

}

.im_boton
{
    background-image: url('/img/add.png');
    background-repeat: no-repeat;
}

#cabecera
{

        float: left;
        height: 50 px;
        width: 200px; /*este ancho es para que cuadre con el texto*/
        /*background-color:#CC6600; /*more*/
         font-size: 8px;


}

#nd
{
      float: right;
       width: 1000px;

 }


.formulario
{
    clear:both;
}

.res_histo
{
         float: right;
        height: 50 px;
        width: 240px; /*este ancho es para que cuadre con el texto*/
        background-color:#CC6600; /*more*/
}

#al_datos
{

	background-color: white;
                width: 50%;
                position:static;
}


#al_conec
{
	

	background-color: white;
                width: 50%;
                position:relative;
}

#al_comer
{
	

	background-color: white;
            width: 50%;
            position: static;
}

#al_ser
{
               
                
	background-color: white;
                width: 50%;
                position: relative;
}

#al_accion
{
               
                
	background-color: white;
                width: 50%;
                position: relative;
}
legend
{
    font-weight:bold;
   background-color:  gray;
   color: orange;
   
}

/*label { width: 10em; }*/
label.error {  color: red; margin: 0; overflow: auto; padding: 0; position: static;}
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }


.side{
  float: left;
  background:#FaFaFa ;
  height: 100px;
  width: 22%;
  border: 1px solid #E1E1E1;
  padding: 3px;
}

.search{
  margin-left: 40px;
}
.search label {
  font-family:  Sans-serif ; 
  font-weight: bold;
  font-size: 14px;
}

.title{
  background:#F0F0F0 ;
  height: -10%
}

.section{

  float: left;
  background:#FaFaFa ;
  height: 520px;
  width: 76%;
  border: 1px solid #E1E1E1;
  padding: 3px;
  overflow: auto;
}

.section_complete{
  background:#FeFeFe ;
  height: 555px;
  overflow: auto;
  border: 1px solid #E1E1E1;
  padding: 6px;
}
.section_complete h1{

  background:#F0F0F0 ;
}
.data{
  font-family:  Sans-serif ; 
  font-size: 10px;
  background:#fcfcfc ;
  min-height: 420px;
}


.select_i{
  width: 110px;
}