/* SISTEMA DE LOGUEO : ESTILO */
/*****************************/

/* BODY */
body {
	background:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#333;
}

/* INPUT : USER */
.inp-user {
	background-image: url('img/input/inp-user.jpg');
	background-repeat: no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#333;
	border : none;
	width: 126px;
	height: 20px;
	padding: 4px;
	padding-left: 20px;
	text-align:justify;
	margin-top: 0px;
 	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px; 
}

/* INPUT : PASS */
.inp-pass{
	background-image: url('img/input/inp-pass.jpg');
	background-repeat: no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#333;
	border : none;
	width: 126px;
	height: 20px;
	padding: 4px;
	padding-left: 20px;
	text-align:justify;
	margin-top: 0px;
 	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px; 
}

/* BOTON : ENTRAR */
.entrar{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#333;
	border: 1px inherit ;
}

#loading{
display:none;
}

