.datosbor
{
background:#F8F8DA;
font-size:10px;
font-family:Verdana,Helvetica;
color:#cccccc;
}

caption {
  color: #669933;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 16px;
}

tr {
    border: 0 solid;
    background-color:  #F8F8FD;
    height: 20px;
    font-size:10px;
	font-family:Verdana,Helvetica;
	color:black;

}

tr.resaltar {
    background-color: #F5F6CE;
    cursor: pointer;
}

tr.seleccionar {
    background-color: #E8FF9F;
    cursor: pointer;
}