ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 75%;
    background-color: #cfbfbf;
    background: #F8F8DA
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	/*position: relative;*/ /*arriba o abajo*/
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #555555;
	display: block;
	font-size: 1em;
	padding: 0 10px; /*tamaño de tabs*/
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
        font-weight: bold;
}
ul.tabs li a:hover {
	background: grey;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
        
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
        width: 100%;
	background: #fff;
}
.tab_content {
	padding: 5px;
	font-size: 1.2em;
}

