@charset "utf-8";
*{
	font-family:Verdana, Helvetica;
	font-size:10px;
	padding:0;
	margin:0;
        /* text-transform:uppercase;*/
}
a{
	text-decoration:none;
}
img{
	border:none;
}
#contenedor{
	
border:2px solid #C0C0C0;
	background-color: white;
        width: 1000;
}
small{
	font-size:9px;
}
#table{
	 width:1000px;
	margin:auto;
}
td{
	border-bottom:1px solid #776F6B;
	padding:5px 0px 5px;
}

th{
	background-color:#C0C0C0;
	padding:5px 0px 5px;
        width: auto
        
}

form p{
	margin:auto;
	width:300px;
	margin-top:5px;
	margin-bottom:3px;
}
form input{
	border:1px solid #CCCCCC;
	padding:3px;
}

form .text{
	width:200px;
}
h1
{
        font-family:Verdana,Helvetica;
        font-weight:bold;
        font-size: 25px;
        background: #F8F8FF;
        color:gray;

}
 .boton
 {
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background-image: url(image/disquet.png);
        border:0px;
        width:80px;
        height:19px;

 }

 title
 {
       font-size: 25px;

}

.progress-bar {
     border: 1px solid #56577A;
     width: 200px;
     margin: 5px;
     padding: 1px;
     background: #fff;
	 float: left;
   }

   .bar {
     height: 15px;
	 font-size: 11px;
	 text-indent:-9000px;
   }

   #percentage{
    float: left;
	margin-left: 10px;
	margin-top:4px;
   }

   .sub_mensaje
   {
        font-weight:bold;
       font-family:Verdana, Helvetica;
       font-size: 14px;

}

.recuadro_consul
{
background:	#FFFFF0;
font-size:10px;
font-family:Verdana,Helvetica;
color:black;
border:0px;
width: 200px;
}

.mayuscula
{
    text-transform:uppercase;
}

.urgente
{
  background-image:  url('admiracion.jpg');
background-repeat: no-repeat;
height: 30px;

}

.normal
{
color:black;

}

.deshabilitado
{
    /*font-weight:bold;*/
color:#900000;
}
.aviso
{
    /*font-weight:bold;*/
color:darkorange;
 font-weight:bold;
}

.alert
{
background: #e6c0c0;
border-bottom-color: #de7a7b;
border-top-color: #de7a7b;
width: 1000px;
border-width: 3px;
}

.bien
{
background: #99CC33;
border-bottom-color: #008000;
border-top-color:  #008000;
border-width: 3px;
width: 1000px;

}

.im_boton
{
    background-image: url('/img/add.png');
    background-repeat: no-repeat;
}

#cabecera
{

        float: left;
        height: 50 px;
        width: 200px; /*este ancho es para que cuadre con el texto*/
        /*background-color:#CC6600; /*more*/
         font-size: 8px;


}

#nd
{
      float: right;
       width: 1000px;

 }


.formulario
{
    clear:both;
}

.res_histo
{
         float: right;
        height: 50 px;
        width: 240px; /*este ancho es para que cuadre con el texto*/
        background-color:#CC6600; /*more*/
}
