.fondobody 
{
    background: #292019;
}
.fondo
{
background: #DCDCDC;
}

.fondo_2
{
background: #DCDCDC;
width: 913px;
height: 940px;
}

#contenedor
{
    width: 913px;
    height: 940px;
    margin: 0px auto;
    background: #FFFFFF;    
}

#inicio
{
margin : 100px 400px 100px 400px;
color: gray;
border: 2px  #cccccc;
border-style : solid;

}

 .boton
 {
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
 }
 .inputtext
 {
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:black;
        background-image: url(success_icon_20.png);
        border:20px;
        width: 100px;
        height: 20px;

 }

 .fancy_top
 {
     background  :url("images/fancy_top.png");

}


.titulo
{
background: #F8F8FF;
color:gray;
}

.recuadro
{
background:	#FFFFF0;
font-size:8px;
font-family:Verdana,Helvetica;
color:black;
}

.nombre_campos
{
font-size:10px;
background:	#D0D0D0;
width:100px;
}

.recuadro_consul
{
background:	#FFFFF0;
font-size:10px;
font-family:Verdana,Helvetica;
color:black;
border:0px;
width: 800px;
}

.datos
{
background:#F8F8FD;
font-size:10px;
font-family:Verdana,Helvetica;
color:black;
}

.datos2
{
background:#F8F8DA;
font-size:10px;
font-family:Verdana,Helvetica;
color:black;

}

.datos_des
{
background:#F8F8FD;
font-size:10px;
font-family:Verdana,Helvetica;
color:red;
}

.datos2_des
{
background:	#F8F8DA;
font-size:10px;
font-family:Verdana,Helvetica;
color:red;
}


.datos3
{
background:#F8FFFA;
font-size:10px;
font-family:Verdana,Helvetica;
color:black;

}

.datos4
{
background:	#F8F8EA;
font-size:10px;
font-family:Verdana,Helvetica;
color:black;
}

.subtotales
{
background:	#FFFFCC;
font-size:12px;
}

 .archivo
 {
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#EEEEEE;
        border:1px solid; 
        width:200px;
        height:19px;
 }
 
 
caption {
  color: #669933;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 16px;
}

th {
    border: 0 solid;
    background-color:  #99CC33;
    color: #FFFFFF;
    height: 20px;
}

tr.resaltar {
    background-color: #cccccc;
    cursor: pointer;
}

tr.seleccionar {
    background-color: #ffffff;
    cursor: pointer;
}
